body {
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: rgb(255, 255, 255);
  margin: 0;
  padding: 0;
}

.navbar-nav {
  font-size: 20px;
}

.table-dark {
  font-size: 16px;
}

.btn {
  font-size: 14px;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  background-color: #2f3e46;
  padding: 10px;
}
.one {
  grid-column: 3;
  grid-row: 3;
}