html,

body {
  height: 100%;
  font-family: 'Noto Sans Thai', sans-serif;
  background-color: #73ACD6
  
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.success {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #3c763d;
  color: #3c763d;
  background: #dff0d8;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}

.error {
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
}